In [1]:
import pandas as pd
import torch
import numpy as np
import os

In [2]:
os.makedirs(os.path.join('..','data'),exist_ok=True)
data_file = os.path.join('..','data','house_tiny.csv')
with open(data_file,'w') as f:
    f.write('NumRooms,Alley,Price\n')
    f.write('NA,Pave,127500\n')
    f.write('2,NA,1060000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [3]:
data = pd.read_csv(data_file)
data

   NumRooms Alley    Price
0       NaN  Pave   127500
1       2.0   NaN  1060000
2       4.0   NaN   178100
3       NaN   NaN   140000

In [4]:
inputs,outputs = data.iloc[:,0:2],data.iloc[:,2]
inputs

   NumRooms Alley
0       NaN  Pave
1       2.0   NaN
2       4.0   NaN
3       NaN   NaN

In [5]:
inputs = inputs.fillna(inputs.mean(numeric_only=True))
inputs

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

In [6]:
inputs = pd.get_dummies(inputs,dummy_na=True).astype(float)
inputs

   NumRooms  Alley_Pave  Alley_nan
0       3.0         1.0        0.0
1       2.0         0.0        1.0
2       4.0         0.0        1.0
3       3.0         0.0        1.0

In [7]:
x = torch.tensor(inputs.values)
y = torch.tensor(outputs.values)
x,y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([ 127500, 1060000,  178100,  140000]))